header, .main{
	width: 90%;
	margin: auto;
	margin: 20px auto;
}
header nav {
	background-color: #000;
	overflow: hidden;
}
article{
	text-align: center;
	width: 60%;
	display: block;
	margin: auto;
}
header nav ul {
	list-style: none;
}
header nav ul li{
	float: left;
	color: #fff;
	padding: 10px 20px;
}
img {
	display: block;
	margin: auto;
}
hr{
	color: #686565;
	background-color: #686565;
	height: 5px;
	border: 0;
  	width: 10%;
}
header nav ul li:hover{
	background-color: #fff;
	box-shadow: 0px 0px 15px 5px rgba(0, 185, 233, .75);
	transition: all 0.7s ease;
	color: #000;
}
h2{
	padding: 20px;
	margin: 20px;
}
.foto1 {
	background-image: url("../img/profile-1.png");
	width: 210px;
	height: 210px;
	float: left;
	margin: 10px;
}
.foto2 {
	background-image: url("../img/profile-2.png");
	width: 210px;
	height: 210px;
	float: left;
	margin: 10px;
	padding left: 100px;
}
.foto3 {
	background-image: url("../img/profile-3.png");
	width: 210px;
	height: 210px;
	float: left;
	margin: 7px;
}
.foto4 {
	background-image: url("../img/profile-4.png");
	width: 210px;
	height: 210px;
	clear: both;
	margin: 10px;
}
.foto5 {
	background-image: url("../img/profile-5.png");
	width: 210px;
	height: 210px;
	position: relative;
	left: 225px;
	bottom: 225px;
	margin: 10px;
}
.foto6 {
	background-image: url("../img/profile-6.png");
	width: 210px;
	height: 210px;
	position: relative;
	left: 453px;
	bottom: 453px;
	margin: 10px;
}

.coders p{
	color: #fff;
	position: relative;
	left: 0px;
	top: 170px;
}
.contenedor{
	background-color: #fff;
	border: #7F7E7E 2px solid;
	margin: auto;
	margin: 20px auto;
	width: 1200px;
}
h1{
	text-align: center;
}
.perfil p{
	text-align: center;
	margin: 5px;
	padding: 5px;
}
.barra1{
	border: 1px solid #666565;
	padding: 10px;
	margin: 10px;
	height: 15px;
	width: 150px;
	background-color: #666565;
	color: #FFF;
}
.barra2{
	border: 1px solid #666565;
	padding: 10px;
	margin: 10px;
	height: 15px;
	width: 90px;
	background-color: #666565;
	color: #FFF;
}
.barra3{
	border: 1px solid #666565;
	padding: 10px;
	margin: 10px;
	height: 15px;
	width: 70px;
	background-color: #666565;
	color: #FFF;
}
.work1 {
	background-image: url("../img/p5.jpg");
	width: 220px;
	height: 220px;
	background-size: 100%;
	object-fit:fill;
	padding-right: 5px;
	margin: 8px;
}
.work2 {
	background-image: url("../img/p6.jpg");
	width: 220px;
	height: 220px;
	background-size: 150%;
	object-fit:fill;
	padding-right: 5px;
	margin: 8px;
}
.work3 {
	background-image: url("../img/p8.jpg");
	width: 220px;
	height: 220px;
	background-size: 150%;
	object-fit:fill;
	padding-right: 5px;
	margin: 8px; 
}
.work4 {
	background-image: url("../img/p5.jpg");
	width: 220px;
	height: 220px;
	background-size: 100%;
	object-fit:fill;
	padding-right: 5px;
	margin: 8px;
}
.work5 {
	background-image: url("../img/p6.jpg");
	width: 220px;
	height: 220px;
	background-size: 150%;
	object-fit:fill;
	padding-right: 5px;
	margin: 8px;
}
.work6 {
	background-image: url("../img/p8.jpg");
	width: 220px;
	height: 220px;
	background-size: 150%;
	object-fit:fill;
	padding-right: 5px;
	margin: 8px;
}
.row:before, .row:after{
	content: "";
	display: table;
}
.row:after{
	clear: both;
}
.col1{
	width: 30% ;
	float: left;
}

.col2{
	width:30%;
	float: left;
}
.col3{
	width: 30%;
	float: left;
}
.contenedor img{
	width: 150px;
	height: 150px;
	border-radius: 50%;
}